parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Resources
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        # Add specific ignores if needed